$main-font: "Open Sans", sans-serif;
$second-font: "Oswald", sans-serif;

$accent-color: #005bc1;
$dark: #343434;
$light: #ffffff;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $second-font;
  font-weight: 400;
}

.top-screen {
  min-height: 800px;
  background-image: url(../images/bg_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $accent-color;
  color: $light;
  margin-bottom: 150px;
}

.header {
  padding: 11px 40px;
  background-color: transparentize($color: $accent-color, $amount: 0.4);

  &__logo {
    max-width: 140px;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
  &__item + &__item {
    margin-left: 25px;
  }

  &__link {
    text-decoration: none;
    color: $light;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
}

.hero {
  min-height: 720px;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    background-color: transparentize($color: $accent-color, $amount: 0.4);
    width: 40%;
    height: 100%;
    z-index: -1;
  }

  &__inner {
    width: 56%;
    margin-left: 190px;
  }

  &__head {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    margin-bottom: 40px;
  }
  &__text {
    padding-right: 120px;
    margin: 0 0 40px 0;
  }
  &__btn {
    display: inline-block;
    padding: 15px 40px;
    border: 2px solid $light;
    text-decoration: none;
    color: $light;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

/* Our Project*/

.project {
  margin-bottom: 150px;
}
.section {
  &-title {
    font-style: 400;
    font-size: 30px;
    line-height: 44px;
    color: $dark;
    position: relative;
    padding-left: 140px;
    margin: 0;
    margin-bottom: 70px;
    text-transform: uppercase;
    padding-right: 115px;
  }

  &-title::before {
    content: "";
    position: absolute;
    width: 100px;
    border-top: 3px solid $accent-color;
    left: 0;
    top: 13px;
  }

  &-title::after {
    content: "";
    position: absolute;
    width: 50px;
    border-top: 3px solid $accent-color;
    left: 50px;
    top: 28px;
  }
}
.slider {
  img {
    width: 100%;
  }
  &-item-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    position: relative;
  }
  &-item-column {
    position: relative;
  }
  &-caption {
    position: absolute;
    background-color: $light;
    padding: 20px 25px;
    width: 250px;
    bottom: 35px;
    right: 35px;

    h3 {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 19px;
    }
  }
}

//slider

.slider {
  &-btn {
    position: absolute;
    top: -120px;
    right: 0;
    width: 55px;
    height: 55px;
    border: 2px solid $accent-color;
    background-color: transparent;
  }
  &-prev {
    right: 55px;
    transform: rotate(180deg);
    border-left: transparent;
  }
}

/* catalog*/

.catalog {
  padding-bottom: 150px;
  &-items {
    display: flex;
    justify-content: center;
  }
  &__link1,
  &__link2 {
    margin-right: 47px;

    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $dark;
    cursor: pointer;
  }
}

.item-inner1,
.item-inner2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.item-column {
  position: relative;
  width: 350px;
  height: 300px;

  & img {
    width: 100%;
  }
  & a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $light;
    letter-spacing: 0.05em;
  }
}
.item-caption {
  position: absolute;
  width: 265px;
  height: 86px;
  background-color: $accent-color;
  right: 0;
  bottom: 15px;
  display: flex;
  align-items: center;
  padding-left: 21px;
}

.item-active {
  display: none;
}

